<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <img class="landing-block-node-img img-fluid"
                src="https://cdn.bitrix24.com.br/b12243741/landing/13e/13eeafaa1c37e8a5666aa5297ced9c66/cabe_alho_lp_LUX_1x.png"
                data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;https://www.bitrix24.com/&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"
                alt=""
                srcset="https://cdn.bitrix24.com.br/b12243741/landing/0b6/0b65ed7ccb6f79973b0bde1feeab7602/cabe_alho_lp_LUX_2x.png 2x"
                data-fileid="149499" data-fileid2x="149501">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="crm-webform-block crm-webform-default">

                            <div class="crm-webform-body">
                                <form novalidate="" class="crm-webform-form-container" id="bxform" method="POST"
                                    enctype="multipart/form-data"
                                    action="/pub/form.php?view=frame&amp;form_id=11&amp;widget_user_lang=br&amp;sec=dxt2qw&amp;r=1603238593160">
                                    <fieldset class="crm-webform-fieldset">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-string crm-webform-error"
                                                id="field_LEAD_NAME">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_NAME"
                                                            class="crm-webform-label crm-webform-label-required-field">Nome
                                                            completo:</label>
                                                    </div>
                                                </div>
                                                <div class="crm-webform-group" id="field_LEAD_NAME_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <input value="" class="crm-webform-input" type="text"
                                                                name="LEAD_NAME" id="LEAD_NAME" placeholder=""> <b
                                                                class="tooltip crm-webform-tooltip-bottom-right">Preencher
                                                                todos os campos obrigatórios</b>
                                                        </label>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-phone crm-webform-error"
                                                id="field_LEAD_PHONE">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_PHONE"
                                                            class="crm-webform-label crm-webform-label-required-field">Whatsapp:</label>
                                                    </div>
                                                </div>



                                                <div class="crm-webform-group" id="field_LEAD_PHONE_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-phone"></i>
                                                            <input value="" name="LEAD_PHONE" id="LEAD_PHONE"
                                                                class="crm-webform-input crm-webform-input-phone"
                                                                type="text"
                                                                placeholder="(XX) XXXXX-XXXX - exemplo de formato"> <b
                                                                class="tooltip crm-webform-tooltip-bottom-right">Preencher
                                                                todos os campos obrigatórios</b>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-list crm-webform-error"
                                                id="field_LEAD_UF_CRM_1597496714">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1597496714"
                                                            class="crm-webform-label crm-webform-label-required-field">Você
                                                            é/está?:</label>
                                                    </div>
                                                </div>
                                                <div class="crm-webform-group" id="field_LEAD_UF_CRM_1597496714_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-arrow-down"></i>
                                                            <select class="crm-webform-input"
                                                                name="LEAD_UF_CRM_1597496714"
                                                                id="LEAD_UF_CRM_1597496714">
                                                                <option value="">Não selecionado</option>
                                                                <option value="3471">Gestante do PRIMEIRO(A) FILHO(A).
                                                                </option>
                                                                <option value="3473">Gestante e filho(a) MENOR de 5 anos.</option>
                                                                <option value="3515">Gestante e filho(a) com MAIS de 5 anos.</option>
                                                                <option value="3469">Mãe de filho(a) MENOR de 5 anos.
                                                                </option>
                                                                <option value="3517">Mãe de filho(a) com MAIS de 5 anos.
                                                                </option>
                                                            </select> <b
                                                                class="tooltip crm-webform-tooltip-bottom-right">Preencher
                                                                todos os campos obrigatórios</b>
                                                        </label>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-date crm-webform-error crm-webform-active"
                                                id="field_LEAD_UF_CRM_1580316545358">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1580316545358"
                                                            class="crm-webform-label crm-webform-label-required-field">Qual
                                                            a data de nascimento do filho(a) mais novo(a) e COM MENOS de
                                                            5 anos? SE ESTIVER GESTANTE, qual a data prevista para o
                                                            parto?:</label>
                                                    </div>
                                                </div>



                                                <div class="crm-webform-group"
                                                    id="field_LEAD_UF_CRM_1580316545358_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-calendar"></i>
                                                            <input
                                                                class="crm-webform-input crm-webform-input-date crm-webform-input-desktop"
                                                                onfocus="this.blur()" type="text"
                                                                name="LEAD_UF_CRM_1580316545358"
                                                                id="LEAD_UF_CRM_1580316545358" placeholder=""><input
                                                                type="date"
                                                                class="crm-webform-input crm-webform-input-date crm-webform-input-mobile"
                                                                id="LEAD_UF_CRM_1580316545358_mobile" placeholder=""> <b
                                                                class="tooltip crm-webform-tooltip-bottom-right">Preencher
                                                                todos os campos obrigatórios</b>
                                                        </label>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-list crm-webform-success"
                                                id="field_LEAD_UF_CRM_1597497342">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1597497342"
                                                            class="crm-webform-label crm-webform-label-required-field">Trabalhou
                                                            registrada ou pagou carnê da previdência ANTES do nascimento
                                                            da criança?</label>
                                                    </div>
                                                </div>



                                                <div class="crm-webform-group" id="field_LEAD_UF_CRM_1597497342_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-arrow-down"></i>
                                                            <select class="crm-webform-input"
                                                                name="LEAD_UF_CRM_1597497342"
                                                                id="LEAD_UF_CRM_1597497342">
                                                                <option value="">Não selecionado</option>
                                                                <option value="3493">TRABALHEI REGISTRADA antes de nascer.</option>
                                                                <option value="3495">Sou MEI (Micro Empreendedor Individual).</option>
                                                                <option value="3707">Paguei a previdência por conta (carnê GPS).</option>
                                                                <option value="3491">NÃO trabalhei registrada antes de nascer.</option>
                                                                <option value="3489">Nunca trabalhei registrada.
                                                                </option>
                                                            </select> <b
                                                                class="tooltip crm-webform-tooltip-bottom-right">Preencher
                                                                todos os campos obrigatórios</b>
                                                        </label>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-date"
                                                id="field_LEAD_UF_CRM_1597497700">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1597497700"
                                                            class="crm-webform-label crm-webform-label-required-field">Qual
                                                            foi a data da saída do emprego ANTES do nascimento da
                                                            criança?</label>
                                                    </div>
                                                </div>



                                                <div class="crm-webform-group" id="field_LEAD_UF_CRM_1597497700_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-calendar"></i>
                                                            <input
                                                                class="crm-webform-input crm-webform-input-date crm-webform-input-desktop"
                                                                onfocus="this.blur()" type="text"
                                                                name="LEAD_UF_CRM_1597497700"
                                                                id="LEAD_UF_CRM_1597497700" placeholder=""><input
                                                                type="date"
                                                                class="crm-webform-input crm-webform-input-date crm-webform-input-mobile"
                                                                id="LEAD_UF_CRM_1597497700_mobile" placeholder=""> <b
                                                                class="tooltip crm-webform-tooltip-bottom-right">Preencher
                                                                todos os campos obrigatórios</b>
                                                        </label>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-list"
                                                id="field_LEAD_UF_CRM_1597497546">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1597497546"
                                                            class="crm-webform-label crm-webform-label-required-field">Recebeu
                                                            o SEGURO DESEMPREGO do emprego que teve ANTES do nascimento
                                                            da criança?</label>
                                                    </div>
                                                </div>



                                                <div class="crm-webform-group" id="field_LEAD_UF_CRM_1597497546_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-arrow-down"></i>
                                                            <select class="crm-webform-input"
                                                                name="LEAD_UF_CRM_1597497546"
                                                                id="LEAD_UF_CRM_1597497546">
                                                                <option value="">Não selecionado</option>
                                                                <option value="3499">SIM, RECEBI seguro desemprego.
                                                                </option>
                                                                <option value="3501">NÃO recebi seguro desemprego.
                                                                </option>
                                                            </select> <b
                                                                class="tooltip crm-webform-tooltip-bottom-right">Preencher
                                                                todos os campos obrigatórios</b>
                                                        </label>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>


                                    </fieldset>


                                    <fieldset class="crm-webform-fieldset-footer">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 text-center">
                                                <button type="button" class="btn btn-lg btn-primary"
                                                    disabled>Enviar</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <input type="hidden" name="from"
                                        value="https://salariomaternidade.bitrix24.site/"><input type="hidden"
                                        name="trace"
                                        value="{&quot;url&quot;:&quot;https://salariomaternidade.bitrix24.site/&quot;,&quot;device&quot;:{&quot;isMobile&quot;:false},&quot;tags&quot;:{&quot;ts&quot;:1603246072,&quot;list&quot;:{},&quot;gclid&quot;:null},&quot;client&quot;:{&quot;gaId&quot;:&quot;962904234.1603246072&quot;},&quot;pages&quot;:{&quot;list&quot;:[[&quot;https://salariomaternidade.bitrix24.site/&quot;,1603246073,&quot;Salário Maternidade - formulário&quot;]]},&quot;gid&quot;:null,&quot;previous&quot;:{&quot;list&quot;:[]}}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>