
    <section>
      <div class="mymodal">
        <div class="copy">
          <div>
            <i class="fas fa-headset"></i>
          </div>
          <div class="copy-text">
            <h1></h1>
            <h2></h2>
          </div>
        </div>
        <div class="info-space">
          <div class="box animacao">
            <div class="info">
                <div class="content">
                  <div>
                    <h4> <i class="far fa-check-circle"></i>Seu filho já Nasceu?</h4>
                  </div>
                </div>
                <div class="content">
                  <div>
                    <button [routerLink]="'/qualificationborn'">Sim</button>
                    <button [routerLink]="'/qualificationnoborn'">Não</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
