<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">

            <img class="landing-block-node-img img-fluid" src="../../assets/img/bannerassessoriamaternidade.jpg">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="crm-webform-block crm-webform-default">

                            <div class="crm-webform-body">
                                <form novalidate="" [formGroup]="registerForm" (ngSubmit)="onSubmit()"
                                    class="crm-webform-form-container" id="bxform" method="POST"
                                    enctype="multipart/form-data">
                                    <fieldset class="crm-webform-fieldset">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-string "
                                                [ngClass]="{ 'crm-webform-error': submitted && f.firstName.errors }"
                                                id="field_LEAD_NAME">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_NAME"
                                                            class="crm-webform-label crm-webform-label-required-field">Nome
                                                            completo:</label>
                                                    </div>
                                                </div>
                                                <div class="crm-webform-group" id="field_LEAD_NAME_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <input name="firstName" formControlName="firstName"
                                                                class="form-control crm-webform-input" type="text"
                                                                placeholder="">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-phone"
                                                [ngClass]="{ 'crm-webform-error': submitted && f.phone.errors }"
                                                id="field_LEAD_PHONE">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_PHONE"
                                                            class="crm-webform-label crm-webform-label-required-field">Whatsapp:</label>
                                                    </div>
                                                </div>

                                                <div class="crm-webform-group" id="field_LEAD_PHONE_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-phone"></i>
                                                            <input name="LEAD_PHONE" formControlName="phone"
                                                                id="LEAD_PHONE"
                                                                class="form-control crm-webform-input crm-webform-input-phone"
                                                                type="tel" placeholder="(XX) XXXXX-XXXX"
                                                                mask="(00) 00000-0000">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-email"
                                                [ngClass]="{ 'crm-webform-error': submitted && f.email.errors }"
                                                id="field_LEAD_EMAIL">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_EMAIL"
                                                            class="crm-webform-label crm-webform-label-required-field">E-mail:</label>
                                                    </div>
                                                </div>

                                                <div class="crm-webform-group" id="field_LEAD_EMAIL_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-envelope"></i>
                                                            <input name="LEAD_EMAIL" formControlName="email"
                                                                id="LEAD_EMAIL"
                                                                class="form-control crm-webform-input crm-webform-input-phone"
                                                                type="email" placeholder="exemplo@email.com">
                                                            <p *ngIf="f.email.errors?.email" class="dateError"> E-mail
                                                                inválido!
                                                            </p>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-list"
                                                [ngClass]="{ 'crm-webform-error': submitted && f.situation.errors }"
                                                id="field_LEAD_UF_CRM_1597496714">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1597496714"
                                                            class="crm-webform-label crm-webform-label-required-field">
                                                            Seu filho(a) tem menos de 5 anos?
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="crm-webform-group" id="field_LEAD_UF_CRM_1597496714_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-arrow-down"></i>
                                                            <select class="form-control crm-webform-input"
                                                                formControlName="situation"
                                                                name="LEAD_UF_CRM_1597496714"
                                                                id="LEAD_UF_CRM_1597496714"
                                                                (change)="ddlYouAreSelectedChangeHandler($event)">
                                                                <option value="Mãe de filho menor de 5 Anos">Sim.
                                                                </option>
                                                                <option value="Mãe de filho maior de 5 Anos">Não.
                                                                </option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>


                                        <div class="row" [hidden]="!workRegistered">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-date"
                                                [ngClass]="{'crm-webform-error': submitted && f.dateBorn.errors}"
                                                id="field_LEAD_UF_CRM_1580316545358">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1580316545358"
                                                            class="crm-webform-label crm-webform-label-required-field">
                                                        Qual a data (mês/ano) de nascimento da criança?
                                                        </label>
                                                    </div>
                                                </div>



                                                <div class="crm-webform-group"
                                                    id="field_LEAD_UF_CRM_1580316545358_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-calendar"></i>
                                                            <!-- <input (blur)="validateDateBorn()" [min]="datemin"
                                                                [max]="datemax"
                                                                class="crm-webform-input crm-webform-input-date crm-webform-input-desktop"
                                                                type="date" formControlName="dateBorn"
                                                                name="LEAD_UF_CRM_1580316545358"
                                                                id="LEAD_UF_CRM_1580316545358" placeholder=""> -->
                                                            <input type="text" class="crm-webform-input" mask="00/00"
                                                                name="LEAD_UF_CRM_1580316545358"
                                                                formControlName="dateBorn"
                                                                id="LEAD_UF_CRM_1580316545358" placeholder="00/00">
                                                            <p class="dateError"
                                                                *ngIf="f.dateBorn.errors?.minlength && submitted"> Data
                                                                incompleta!</p>
                                                            <!-- <p class="dateError" *ngIf="!this.comparaMax"> Data Inválida!</p>
                                                            <p class="dateError" *ngIf="!this.comparaMin"> Data Inválida!</p> -->
                                                        </label>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>

                                        <div class="row" [hidden]="!workRegistered">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-list "
                                                [ngClass]="{'crm-webform-error': submitted && f.prevSituation.errors}"
                                                id="field_LEAD_UF_CRM_1597497342">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1597497342"
                                                            class="crm-webform-label crm-webform-label-required-field">
                                                            Trabalhou de carteira assinada <strong>antes</strong> da criança nascer?
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="crm-webform-group" id="field_LEAD_UF_CRM_1597497342_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-arrow-down"></i>
                                                            <select class="form-control crm-webform-input"
                                                                name="LEAD_UF_CRM_1597497342"
                                                                formControlName="prevSituation" id="ddlYouWorked"
                                                                (change)="ddlHasYouWorkedSelectedChangeHandler($event)">
                                                                <option value="Trabalhei Registrada">Sim.</option>
                                                                <option value="Não Trabalhei Registrada">Não.</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="row" [hidden]="!WorkRegisteredBeforeBorn">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-list "
                                                [ngClass]="{'crm-webform-error': submitted && f.prevSituation.errors}"
                                                id="field_LEAD_UF_CRM_1597497342">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1597497342"
                                                            class="crm-webform-label crm-webform-label-required-field">
                                                            Estava <strong>desempregada</strong> na data do parto?
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="crm-webform-group" id="field_LEAD_UF_CRM_1597497342_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-arrow-down"></i>
                                                            <select class="form-control crm-webform-input"
                                                                name="LEAD_UF_CRM_1597497342"
                                                                formControlName="prevSituation" id="ddlYouWorked"
                                                                (change)="ddlOnBirthSituationChangeHandler($event)">
                                                                <option value="desempregada">Sim.</option>
                                                                <option value="trabalhando">Não.</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="row" [hidden]="!notWorked">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-list "
                                                [ngClass]="{'crm-webform-error': submitted && f.paidTen.errors}"
                                                id="field_LEAD_UF_CRM_1597497342">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1597497342"
                                                            class="crm-webform-label crm-webform-label-required-field">
                                                            Paga carnê GPS ou é Micro Empreendedor Individual (MEI)?
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="crm-webform-group" id="field_LEAD_UF_CRM_1597497342_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-arrow-down"></i>
                                                            <select class="form-control crm-webform-input"
                                                                name="LEAD_UF_CRM_1597497342" formControlName="paidTen"
                                                                id="paidTen" (change)="ddlPaidByOwnChangeHandler($event)">
                                                                <option value="Contribuí Individualmente">Sim.</option>
                                                                <option value="Não Contribuí">Não.</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" [hidden]="!WorkRegisteredBeforeBorn">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-date"
                                                [ngClass]="{ 'crm-webform-error': submitted && f.dateJobEnd.errors }"
                                                id="field_LEAD_UF_CRM_1597497700">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1597497700"
                                                            class="crm-webform-label crm-webform-label-required-field">Qual
                                                            foi a data (mês/ano) de saída desse último emprego?</label>
                                                    </div>
                                                </div>

                                                <div class="crm-webform-group" id="field_LEAD_UF_CRM_1597497700_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-calendar"></i>
                                                            <!-- <input (blur)="validateDateJob()" [max]="today"
                                                                class="crm-webform-input crm-webform-input-date crm-webform-input-desktop"
                                                                type="date" formControlName="dateJobEnd"
                                                                name="LEAD_UF_CRM_1597497700"
                                                                id="LEAD_UF_CRM_1597497700" placeholder=""> -->
                                                            <input type="text" class="crm-webform-input" mask="00/00"
                                                                name="LEAD_UF_CRM_1580316545358"
                                                                formControlName="dateJobEnd"
                                                                id="LEAD_UF_CRM_1580316545358" placeholder="00/00">
                                                            <p class="dateError"
                                                                *ngIf="f.dateJobEnd.errors?.minlength && submitted">
                                                                 Data incompleta!</p>
                                                            <!-- <p class="dateError" *ngIf="!this.comparaMaxJob"> Data Inválida!</p> -->
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" [hidden]="!WorkRegisteredBeforeBorn">
                                            <div class="col-md-12 col-sm-12 crm-webform-field-list"
                                                [ngClass]="{'crm-webform-error': submitted && f.segJobReceive.errors}"
                                                id="field_LEAD_UF_CRM_1597497546">

                                                <div class="crm-webform-label-title-container">
                                                    <div class="crm-webform-label-title">
                                                        <label for="LEAD_UF_CRM_1597497546"
                                                            class="crm-webform-label crm-webform-label-required-field">
                                                            Recebeu o seguro desemprego dessa empresa?
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="crm-webform-group" id="field_LEAD_UF_CRM_1597497546_CONT">
                                                    <div class="crm-webform-label-content">
                                                        <label class="crm-webform-input-label">
                                                            <i class="crm-webform-icon fa fa-arrow-down"></i>
                                                            <select class="form-control crm-webform-input"
                                                                name="LEAD_UF_CRM_1597497546"
                                                                formControlName="segJobReceive"
                                                                id="LEAD_UF_CRM_1597497546">
                                                                <option value="Sim">Sim.
                                                                </option>
                                                                <option value="Não">Não.
                                                                </option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>


                                    <fieldset class="crm-webform-fieldset-footer">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 text-center">
                                                <p style="background-color: lightcoral; border-radius: 2px;">
                                                    <strong>Por favor revise suas respostas antes do envio. <br>
                                                        Informações incorretas podem te desqualificar na análise!
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 text-center">

                                                <button tooltip="Enviar" placement="top"
                                                    class="btn btn-lg btn-primary rounded">
                                                    Enviar</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <input type="hidden" name="from"
                                        value="https://salariomaternidade.bitrix24.site/"><input type="hidden"
                                        name="trace"
                                        value="{&quot;url&quot;:&quot;https://salariomaternidade.bitrix24.site/&quot;,&quot;device&quot;:{&quot;isMobile&quot;:false},&quot;tags&quot;:{&quot;ts&quot;:1603246072,&quot;list&quot;:{},&quot;gclid&quot;:null},&quot;client&quot;:{&quot;gaId&quot;:&quot;962904234.1603246072&quot;},&quot;pages&quot;:{&quot;list&quot;:[[&quot;https://salariomaternidade.bitrix24.site/&quot;,1603246073,&quot;Salário Maternidade - formulário&quot;]]},&quot;gid&quot;:null,&quot;previous&quot;:{&quot;list&quot;:[]}}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay" [hidden]="IsWait">
    <div class="center">
        <mat-progress-spinner diameter=100 mode="indeterminate" color="accent">
        </mat-progress-spinner>
    </div>
</div>